@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  background-color: var(--Light-gray);
}
body {
  font-family: "Outfit", sans-serif;
  overflow: hidden;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container-card {
  width: 300px;
  background-color: var(--White);
  border-radius: 10px;
  padding: 15px;
}
.container-card img {
  width: 100%;
  border-radius: 10px;
}
.container-card h1 {
  text-wrap: balance;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}
.container-card p {
  opacity: 0.5;
  margin-bottom: 20px;
  font-size: 17px;
}
